.main-container {
}

.login-message {
  text-align: center;
  margin: 0;
  margin-top: 2rem;
}

.form-container {
  padding: 3rem 5rem;
}

.form-block {
  border: 1px solid black;
  width: 50%;
  margin: 0 auto;

  .title {
    text-align: center;
  }
}

.form {
  width: 80%;
  margin: 1rem auto;
}

.field-division {
  width: 100%;
}

.form-inputs {
  height: 2rem;
  width: 100%;
  font-size: 1rem;
}

.login-but-div {
  text-align: center;
}

.login-but {
  background-color: rgb(59, 95, 199) !important;
  color: white !important;
  width: 5rem;

  &:hover {
    background-color: rgb(37, 72, 175) !important;
  }
}

.form-footer {
  text-align: center;

  & > p:nth-child(2) {
    cursor: pointer;
    font-weight: bolder;
  }
}

.signup-but {
  @extend .login-but;
  padding: 0.4rem 0.9rem;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  font-family: "Roboto";
  height: 2.3rem;
}

@media screen and (max-width: 800px) {
  .form-block {
    width: 100%;
  }
  .form-container {
    padding: 3rem 3rem;
  }
}
