@mixin headings {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  color: black;
  font-size: 20px;
}

@mixin containers {
  width: 95%;
  margin: 0px 0px 0px 10px;
}

.add-details-button-container {
  text-align: center;
}

#addBut {
  background-color: #3b5fc7;
  margin-top: 50px;
}

.add-details-container {
  display: none;

  & > p:nth-of-type(1),
  & > p:nth-of-type(2) {
    text-align: center;
  }

  & > p:nth-of-type(2) {
    color: red;
  }
}

.add-details-heading {
  text-align: center;
  font-size: 36px;
  font-weight: bolder;
}

.add-details-form-container {
  width: 75%;
  border: 1px solid black;
  margin: 50px auto;
  display: flex;
  padding-bottom: 20px;
}

.add-details-form {
  margin: 30px 30px;
  width: 100%;
}

#input-color {
  width: 25%;
  border: 1px solid black;
  padding: 1px 5px;
  height: 30px;
  margin: 0px 10px;
}

#input-image {
  width: 50%;
  border: 1px solid black;
  padding: 1px 5px;
  height: 30px;
  margin: 0px 10px;
}

#input-spechead {
  width: 50%;
  border: 1px solid black;
  padding: 1px 5px;
  height: 30px;
}

#input-sidetab {
  width: 25%;
  border: 1px solid black;
  padding: 1px 5px;
  height: 30px;
  margin: 0px 10px;
}

#input-description,
#input-specsub {
  width: 50%;
  height: 100px;
  min-height: 80px;
  max-height: 120px;
  min-width: 45%;
  max-width: 55%;
}

.input-submit {
  height: 40px;
  width: 20%;
  font-size: 18px;
  background-color: #3b5fc7;
  color: white;
  border: 2px solid black;
  border-radius: 3px;
  cursor: pointer;
  font-family: "Roboto";
  font-weight: bold;
}

.form-division {
  display: flex;
  justify-content: space-between;
}

.add-details-buttons-container {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;

  & > input {
    height: 40px;
    width: 300px;
    font-size: 18px;
    background-color: rgb(59, 95, 199);
    color: white;
    border: 2px solid black;
    border-radius: 3px;
    cursor: pointer;
    font-family: "Roboto";
    font-weight: bold;
  }
}

.main-container {
  width: 75%;
  border: 1px solid black;
  margin: 50px auto;
  display: flex;
  padding-bottom: 20px;
}

.main-container-left {
  flex: 0.7;
}

.carousel-container {
  @include containers();
  text-align: center;
}

.carousel-heading {
  font-size: 20px;
  text-align: left;
  font-weight: 900;
  font-family: "Lato", sans-serif;
}

.carousel-delete {
  text-align: right;
}

.carousel-delete-button {
  color: white;
  border: none;
  font-size: 18px;
}

.carousel-image {
  width: 80%;
}

.description-container {
  @include containers();
}

.description-heading {
  @include headings();
}

.description-delete {
  text-align: right;
}

.description-delete-button {
  color: red;
  border: none;
  font-size: 14px;
  height: 14px;
  width: 18px;
  position: absolute;
  background-color: transparent;
}

.description-paragraph {
  color: black;
}

.colors-container {
  @include containers();
}

.colors-heading {
  @include headings();
}

.colors-division {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.color-name-container {
  text-align: center;
}

.color-name {
  margin: 0;
}

.color-delete {
  text-align: right;
}

.color-delete-button {
  color: red;
  border: none;
  font-size: 12px;
  position: absolute;
  background-color: transparent;
}

.specs-container {
  @include containers();
}

.specs-heading {
  @include headings();
}

.specs-division {
  width: 95%;
  margin: 0 auto;
}

.specs-delete {
  text-align: right;
}

.specs-delete-button {
  color: red;
  border: none;
  font-size: 14px;
  position: absolute;
  background-color: transparent;
}

.specs-subheading {
  font-weight: bolder;
  font-size: 18px;
}

.specs-paragraph {
  color: black;
}

.main-container-right {
  flex: 0.3;
  background-color: #f7f7f7;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}

.sidetab-container {
  background-color: rgb(59, 95, 199);
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sidetab-heading {
  text-align: center;
  color: white;
  font-weight: bold;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}

.sidetab-heading-separator {
  background-color: black;
  height: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sidetab-delete {
  text-align: right;
}

.sidetab-delete-button {
  position: absolute;
  cursor: pointer;
}

.sidetab-subheading {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  color: black;
  font-family: "News Cycle", sans-serif;
}

@media screen and (max-width: 800px) {
  .main-container {
    width: auto;
  }

  .description-container,
  .colors-container,
  .specs-container {
    width: 90%;
  }

  .description-paragraph,
  .specs-paragraph {
    font-size: 12px;
  }

  .form-division {
    display: block;
  }

  .add-details-form {
    margin: 30px auto;
  }

  .add-details-form-container {
    width: auto;
  }

  .add-details-buttons-container > input {
    width: 50%;
  }

  .input-submit {
    width: 35%;
  }

  #input-color,
  #input-image,
  #input-sidetab {
    width: 85%;
  }
}
